.arrow__btn--prev, .arrow__btn--next {
  width: 10px;
  height: 10px;
  fill: $text-color;
}
.arrow__btn--prev:hover {
  fill: #596478;
  transition: fill .3s;
}
.arrow__btn--next:hover {
  fill: #596478;
  transition: fill .3s;
}