.arrow__btn--prev, .arrow__btn--next {
  width: 10px;
  height: 10px;
  fill: $text-color;
}
.arrow__btn--prev:hover {
  fill:$violet;
  transition: 0.3s;
}
.arrow__btn--next:hover {
  fill:$violet;
  transition: 0.3s;
}