.header__container {
display: flex;
justify-content: space-between;
align-items: center;
  @include tablets() {
    .menu {
      display: none;
    }
    .hamburger {
      display: flex;
    }
  }
}
