.job {
  min-height: 1088px;
  max-height: 1088px;
}
.job__container {
  padding: 8.375rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include tablets() {
    padding: 55px 0;
  }
  @include phones() {
    width: 100%;
  }
}
.job-title {
  @include phones() {
    text-align: center;
    margin-bottom: 30px;
  }
}