.menu {
    display: flex;
}

.menu__item {
    font-size: 16px;
    padding-right: 9%;
    &:last-child {
       padding-right: 0; 
    }
}
.menu__link {
  text-decoration: none;
  white-space: nowrap;
}
