.socials {
    display: flex;
    flex-flow: row;
}
.socials__item {
    padding-left: 45px;
    &:first-child {
        padding-left: 0;
    }
}
.socials__icon {
    fill: #414c63;
    height:25px;
    width:25px;
}