section.benefit
    h2.benefit-skill__title Чем я могу быть полезна вам
    p.benefit-skill__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool.Чуть позже я освежу свой контент.А пока посмотрите как тут все классно и красиво!
section.scill
    ul.skill__list Front-end
        - var Frontend = ['HTML5', 'CSS3', 'Javascript', 'Jquery  и Vue.js'];
        each item in Frontend
            li.skill__item
                p.skill__text #{item}
    ul.skill__list Workflow 
        - var Workflow = ['GIT', 'Terminal', 'Gulp', 'Webpack'];
        each item in Workflow
            li.skill__item
                p.skill__text #{item}