footer.footer#footer
  .container.footer__container
    .footer__copyright
      .footer__copyright-col
        .footer__copyright-year &copy; 2019
      .footer__copyright-userinfo
        .footer__copyright-name Буслова Катерина
        .footer__data-text Личный сайт<br>веб - разработчика
    .footer__data
      include menu
      +menu('footer')
      .footer__data-content
        .footer__data-col
          p.footer__data-text Этот сайт я сделала в рамках обучения в Школе онлайн образования Loftschool
          .footer__data-socials
            include socials
            +socials('footer')
        .footer__data-col
          blockquote.text.footer-text__quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
          cite.footer-cite Martin Golding
