.container.form-container#contact
    h2.title.form-title Связаться со мной
    form.form.j-form(action="#")
        .form__row
            .form__block
                label.form__block-title.j-name.j-label(for='name') Введите ваше имя
                    .form__input
                        +icon(`User`,'form-icon')
                        input.form__block-input(type='text', id='name', name='name', placeholder="Ковальчук Дмитрий", required='')
                    .error.j-error-block
            .form__block
                label.form__block-title.j-email.j-label(for='email') Введите ваш email
                    .form__input
                        +icon(`Envelope`,'form-icon')
                        input.form__block-input(type='text', id='email', name='email', placeholder="loftschool@study.com", required='')
                    .error.j-error-block
        .form__row
            .form__block
                label.form__block-title.j-text.j-label(for='comment') Сообщение к письму
                    .form__input
                        +icon(`Chat`,'form-icon')
                        textarea.form__block-input.form__block-input-textarea(type='text', id='comment', name='comment', placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса", required='')
                    .error.j-error-block
        .form__confirm
            button#send.btn.form__confirm-btn.j-submit-btn(type='submit') Отправить