section.hero#hero
    .container.hero-container
        .hero__face
            .hero__avatar
                +image('content/user/user.jpg', 'user-pic')
            .hero__data
                table.hero__desc
                    - var data=[['Проживаю:','Санкт-Петербург'],['Возраст:','26 лет'],['Родилась:','5 ноября 1992']];
                    each row in data
                        tr
                            td.hero__desc-title #{row[0]}
                            td.hero__desc-text #{row[1]}
        .hero__content
            .hero__text
                p.text Привет, меня зовут
                h2.title.title__name Буслова Катерина
                p.text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты
            .hero__comment
                p.text.hero__comment-text Этот сайт я сделала в рамках обучения в Школе онлайн образования Loftschool.Чуть позже я освежу свой контент.А пока посмотрите как тут все классно и красиво!