mixin slider(slidesnum)
  ul.slider-list
    - for(var i = 0; i < slidesnum.length; i++)
      li.slider-list__item(data-slide=`${slidesnum[i]}`)
        button.slider-list__btn(type="button")
          +image(`content/portfolio/project-${slidesnum[i]}.jpg`, 'slider-list__item-pic', 'img', 'Project')
.slider-wrap
  .slider
    +image('content/portfolio/project-preview.jpg', 'slider__preview', 'img', 'Project Preview')
    +slider(['1','2','3','4'])
    .slider__switch-wrap
      button.slider__switch(class="slider__switch-prev")
        +icon('short_arrow', 'slider__arrow-svg slider__arrow-svg-prev')
      button.slider__switch(class="slider__switch-next")
        +icon('short_arrow', 'slider__arrow-svg slider__arrow-svg-next slider__arrow-svg--denied')
    .slider-desc__wrap
      .slider-desc
          ul.slider-desc__list
            li.slider-desc__item HTML
            li.slider-desc__item CSS
            li.slider-desc__item Javacript
          .slider-desc__content
            h4.slider-desc__title Сайт школы образования
            .slider-desc__info Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 3,5 месяца только самых тяжелых испытаний и бессонных ночей!
            a.slider-desc__link(href="#") Посмотреть сайт
              +icon('Link', 'slider-desc__link__svg')