.parallax.parallax_buda
    .parallax__item(data-speed="0.2")
        +image('parallax/bottom/Sky.jpg', 'parallax__img')
    .parallax__item(data-speed="0.2")
        +image('parallax/bottom/Mountain.png', 'parallax__img')
    .parallax__item(data-speed="1.3")
        +image('parallax/bottom/Buda.png', 'parallax__img')
    .parallax__item
        +image('parallax/bottom/Cloud1.png', 'parallax__img')
    .parallax__item
        +image('parallax/bottom/Cloud2.png', 'parallax__img')
    .parallax__item
        +image('parallax/bottom/Cloud3.png', 'parallax__img') 