.parallax
    .parallax__item(data-speed="0.1")
        +image('parallax/hero/Sky.jpg', 'parallax__img')
    .parallax__item(data-speed="0.08")
        +image('parallax/hero/Mountain.png', 'parallax__img')
    .parallax__item(data-speed="0.25")
        +image('parallax/hero/Baloon.png', 'parallax__img')
    .parallax__item(data-speed="0.2")
        +image('parallax/hero/Cloud.png', 'parallax__img')
    .parallax__item
        +image('parallax/hero/Man.png', 'parallax__img')
    .parallax__item
        +image('parallax/hero/Mountain1.png', 'parallax__img')
    .parallax__item
        +image('parallax/hero/White.png', 'parallax__img') 