script(type="text/x-template")#reviews-template
    .reviews__slider
        flickity(ref="flickity" :options="flickityOptions")
            li(v-for="review in reviews" :key="review.id").reviews__slider-item.reviews
                review(
                    :review="review"
                )
        button.feedback-arrow__btn.feedback-arrow__prev(type='button' @click="previous()" :class="{feedbackBtnOff: btnIndex === 0}")
            +icon('short_arrow', 'arrow__btn--svg arrow__btn--prev')
        button.feedback-arrow__btn.feedback-arrow__next(type='button' @click="next()" :class="{feedbackBtnOff: btnIndex === btnClicks}")
            +icon('short_arrow', 'arrow__btn--svg arrow__btn--next')

script(type="text/x-template")#review-template
    .reviews__item
        .reviews__image
            +icon('Quote', 'reviews__icon')
        .reviews__content
            p.text.reviews__text {{review.text}}
            .reviews__author
                .user.user--photo
                    .user__avatar.user__avatar_small
                        img(:src="review.avatar" :alt="review.autor").user__avatar--small-pic
                    .user__bio
                        .user__name {{review.autor}}
                        .user__position {{review.position}}
