section.welcome.fullscreen-section#welcome
    include header
    .container.welcome__container
        h1.title.welcome-title
            span.welcome-title__text Личный сайт <br> веб-разработчика
            span.welcome-title__name Буслова<br> Катерина
        .welcome__scroll 
            a.welcome__scroll-link(href="#hero") Скролл
                +icon('Scroll','welcome__scroll-svg')