section(class='welcome fullscreen-section')
    h2.welcome__title Личный сайт веб-разработчика
    h1.welcome__name-title Буслова Катерина
    a.welcome__scroll Скролл
        +icon('Scroll','Scroll-svg')