section(class='welcome fullscreen-section')
    include header
    .welcom__container
        h2.welcome__title Личный сайт<br> веб-разработчика
        h1.welcome__name-title Буслова<br> Катерина
        .welcome__scroll 
            a.welcom__scroll-link Скролл
                +icon('Scroll','scroll-svg')