include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta&attributes({'http-equiv': 'X-UA-Compatible', 'content': 'ie=edge'})
    title My Portfolio
  body
    include components/mobile-menu
    .wrapper
      .maincontent
        include components/parallax-hero
        include components/welcom
        include components/hero
        .middle-section
          include components/skills
          include components/job
        .maincontent__autmn-bg
          include components/feedback
          include components/footer
    include templates/entry


                      